html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

canvas {
  display: block;
	border-radius: 100%;
	border: 5px solid cornflowerblue;
}