:root {
  --black: rgb(43, 43, 51);
  --blue: rgb(170, 178, 209);
  --white: rgb(243, 242, 249);
}

@font-face {
    font-family: studiofeixen-variable;
    src: url(/fonts/studio-feixen-sans-variable.woff2) format("woff2"),url(/fonts/studio-feixen-sans-variable.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Bold.eot) format("embedded-opentype"),url(/fonts/StudioFeixenSans-Bold.woff2) format("woff2"),url(/fonts/StudioFeixenSans-Bold.woff) format("woff"),url(/fonts/StudioFeixenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Book.eot) format("embedded-opentype"),url(/fonts/StudioFeixenSans-Book.woff2) format("woff2"),url(/fonts/StudioFeixenSans-Book.woff) format("woff"),url(/fonts/StudioFeixenSans-Book.ttf) format("truetype");
    font-weight: 350;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Medium.eot) format("embedded-opentype"),url(/fonts/StudioFeixenSans-Medium.woff2) format("woff2"),url(/fonts/StudioFeixenSans-Medium.woff) format("woff"),url(/fonts/StudioFeixenSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Regular.eot) format("embedded-opentype"),url(/fonts/StudioFeixenSans-Regular.woff2) format("woff2"),url(/fonts/StudioFeixenSans-Regular.woff) format("woff"),url(/fonts/StudioFeixenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: studiofeixen-writer;
    src: url(/fonts/StudioFeixenSansWriter-Regular.eot) format("embedded-opentype"),url(/fonts/StudioFeixenSansWriter-Regular.woff2) format("woff2"),url(/fonts/StudioFeixenSansWriter-Regular.woff) format("woff"),url(/fonts/StudioFeixenSansWriter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}


html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction:column;
  background-color: var(--black);
  background-image: url("images/bg-grain-dark.png");
  background-size: 350px;
}
.topnav {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 4vh;
  height: 5vh;
  margin: 0 2vw 0 2vw;
  padding: 1vh 0 1vh 0;
  color: var(--blue);
  display: flex;
  justify-content: space-between;
}
.toplink{
  margin: 0;
  padding: 0;
  cursor: default;
  width: 0;
}

.bigdiv {
  flex: 1;
  display: flex;
  height: calc(90vh - 4vw);
}

.innerdiv{
  flex: 1;
  margin: 2vw;
  margin-top: 0;
  border-radius: 1vw;
}

.leftdiv {
  /*background-color: #e0e0e0;*/
  margin-right: 1vw;
  /*padding: 0 2vw 0 2vw;*/
}

.leftdiv h2 {
  color: var(--blue);
  
  font-weight: 800;
  font-size: 4vmin;
  margin-bottom: 0;
  padding-top: 0.4vw;

  text-transform: uppercase;
  color: rgba(0, 0, 0, 0);
  font-family: studiofeixen;
  -webkit-text-stroke: 0.1vh var(--blue);
}

.leftdiv .name {
  margin: 0;
  padding: 0;
  cursor: default;
}
.leftdiv .letter {
  display: inline-block;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 400;
  font-size: 8vmin;
  font-family: studiofeixen-variable;
  font-variation-settings: "wght" 800;
  transition: all .3s ease-out;
  
  &:hover {
    animation-duration: 1s;
    animation-name: rubberBand;
    
  }
  
}


.leftdiv p {
  font-family: studiofeixen-variable;
  font-weight: 400;
  font-size: 2.8vmin;
  font-variation-settings: "wdth" 100, "wght" 500;
  color: var(--white);
  margin: 0;
  max-width: 100vh;
  margin-bottom: 1vh;
}

.rightdiv {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}
.sd {
  flex: 1;
  /*background-color: #e0e0e0;*/
  text-align: center;
  padding-top: 2vh;
  border: solid 0.2vh var(--blue);
  font-size: 5vh; 
}

.topdiv {
  margin-bottom: 1vw;
  cursor: pointer;
}

.botdiv {
  margin-top: 1vw;
  cursor: pointer;
}

.topline {
  border: 0;
  position: absolute;
  top: 7vh;
  left: 2vw;
  height: 0px;
  width: 46vw;
  border-top: solid 0.2vh var(--blue);
  margin: 0;
}

.sd i {
  color: var(--black);
  -webkit-text-stroke: 0.2vh var(--blue);
}

.sd p {
  color: var(--blue);
  font-family: 'roboto slab', serif;
  font-weight: 300;
  font-size: 5vh;
}

.sd:hover p {
  color: var(--black);
  transition: 0.5s;
}

.sd:hover {
  color: var(--black);
  background-color: var(--blue);
  top: -10px;
  transition: 0.5s;
  padding: 5vh;
}

.sd:hover i {
  color: var(--blue);
  -webkit-text-stroke: 0.2vh var(--black);
  transition: 0.5s;
  transform: rotateY(360deg);
}




.toplink:hover ~ .topline{
  transition: 0.5s;
  width: 38vh;
}




@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.dividingline {
  border: 0;
  height: 0px;
  width: 46vw;
  border-top: solid 0.2vh var(--blue);
  margin: 2vh 0 2vh 0;
}

.fa-linkedin {
  color: var(--blue);
}

h2 img {
  color: var(--blue);
  height: 3vmin;
}

#skillp {
  cursor: default;
}