html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vw;
  margin: 2vw;
}

.nav div {
  flex: 50%;
  text-align: center;
  border-radius: 1vw;
  cursor: pointer;
  padding: 1vw 2vw 1vw 2vw;
  background: #0b3d91;
  box-shadow: 0 1vw #061F4A;
}

.nav h1 {
  font-family: "nasalization";
  color: white;
  font-size: 4vmin;
  margin: 0;
}

.textbox {
  margin: 2vw;
  border-radius: 1vw;
  padding: 0 2vw 0 2vw;
  margin-top: 1vw;
  background: #dd361c;
}

.nav div:hover {
  color: #0b3d91;
  background-color: #dd361c;
  transition: 0.5s;
  box-shadow: 0 1vw #99231b;
}

p {
  font-family: "Montserrat";
  color: white;
  font-size: 3vmin;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw 1vw 2vw
}

.title h1 {
  font-size: 5vw;
  font-family: "nasalization";
  color: white;
  margin: 0;
  margin-top: -1vw;
}

.nav img {
  width: 60%;
  margin: 2vw;
  border-radius: 1vw;
  margin-bottom: 0;
}

.title img {
  height: 6vw;
  margin-top: 1vw;
}