html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(43, 43, 51);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vw;
  margin: 2vw;
}

.nav div {
  flex: 50%;
  text-align: center;
  border: solid 0.2vh rgb(170, 178, 209);
  cursor: pointer;
  padding: 0 2vw 0 2vw;
}

.nav h1 {
  font-family: "nasalization";
  color: rgb(170, 178, 209);
  font-size: 4vmin;
}

.textbox {
  margin: 2vw;
  border: solid 0.2vh rgb(170, 178, 209);
  padding: 0 2vw 0 2vw;
  margin-top: 0;
}

.nav div:hover h1 {
  color: rgb(43, 43, 51);
  transition: 0.5s;
}

.nav div:hover {
  color: rgb(43, 43, 51);
  background-color: rgb(170, 178, 209);
  transition: 0.5s;
}

p {
  font-family: "Montserrat";
  color: rgb(170, 178, 209);
  font-size: 3vmin;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 5vw;
  font-family: "nasalization";
  color: rgb(170, 178, 209);
  margin: 0;
}